/* font-face */
@font-face {
  font-family: "Generalgenerals";
  src: url("../fonts/general_foundicons.eot");
  src: url("../fonts/general_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_foundicons.woff") format("woff"), url("../fonts/general_foundicons.ttf") format("truetype"), url("../fonts/general_foundicons.svg#Generalfoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global general styles */
[class*="general-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="general-"]:before {
  font-family: "Generalgenerals";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.general-settings:before {
  content: "\f000";
}

.general-heart:before {
  content: "\f001";
}

.general-star:before {
  content: "\f002";
}

.general-plus:before {
  content: "\f003";
}

.general-minus:before {
  content: "\f004";
}

.general-checkmark:before {
  content: "\f005";
}

.general-remove:before {
  content: "\f006";
}

.general-mail:before {
  content: "\f007";
}

.general-calendar:before {
  content: "\f008";
}

.general-page:before {
  content: "\f009";
}

.general-tools:before {
  content: "\f00a";
}

.general-globe:before {
  content: "\f00b";
}

.general-home:before {
  content: "\f00c";
}

.general-quote:before {
  content: "\f00d";
}

.general-people:before {
  content: "\f00e";
}

.general-monitor:before {
  content: "\f00f";
}

.general-laptop:before {
  content: "\f010";
}

.general-phone:before {
  content: "\f011";
}

.general-cloud:before {
  content: "\f012";
}

.general-error:before {
  content: "\f013";
}

.general-right-arrow:before {
  content: "\f014";
}

.general-left-arrow:before {
  content: "\f015";
}

.general-up-arrow:before {
  content: "\f016";
}

.general-down-arrow:before {
  content: "\f017";
}

.general-trash:before {
  content: "\f018";
}

.general-add-doc:before {
  content: "\f019";
}

.general-edit:before {
  content: "\f01a";
}

.general-lock:before {
  content: "\f01b";
}

.general-unlock:before {
  content: "\f01c";
}

.general-refresh:before {
  content: "\f01d";
}

.general-paper-clip:before {
  content: "\f01e";
}

.general-video:before {
  content: "\f01f";
}

.general-photo:before {
  content: "\f020";
}

.general-graph:before {
  content: "\f021";
}

.general-idea:before {
  content: "\f022";
}

.general-mic:before {
  content: "\f023";
}

.general-cart:before {
  content: "\f024";
}

.general-address-book:before {
  content: "\f025";
}

.general-compass:before {
  content: "\f026";
}

.general-flag:before {
  content: "\f027";
}

.general-location:before {
  content: "\f028";
}

.general-clock:before {
  content: "\f029";
}

.general-folder:before {
  content: "\f02a";
}

.general-inbox:before {
  content: "\f02b";
}

.general-website:before {
  content: "\f02c";
}

.general-smiley:before {
  content: "\f02d";
}

.general-search:before {
  content: "\f02e";
}

/* font-face */
@font-face {
  font-family: "Socialsocials";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#Socialfoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global social styles */
[class*="social-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="social-"]:before {
  font-family: "Socialsocials";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.social-thumb-up:before {
  content: "\f000";
}

.social-thumb-down:before {
  content: "\f001";
}

.social-rss:before {
  content: "\f002";
}

.social-facebook:before {
  content: "\f003";
}

.social-twitter:before {
  content: "\f004";
}

.social-pinterest:before {
  content: "\f005";
}

.social-github:before {
  content: "\f006";
}

.social-path:before {
  content: "\f007";
}

.social-linkedin:before {
  content: "\f008";
}

.social-dribbble:before {
  content: "\f009";
}

.social-stumble-upon:before {
  content: "\f00a";
}

.social-behance:before {
  content: "\f00b";
}

.social-reddit:before {
  content: "\f00c";
}

.social-google-plus:before {
  content: "\f00d";
}

.social-youtube:before {
  content: "\f00e";
}

.social-vimeo:before {
  content: "\f00f";
}

.social-flickr:before {
  content: "\f010";
}

.social-slideshare:before {
  content: "\f011";
}

.social-picassa:before {
  content: "\f012";
}

.social-skype:before {
  content: "\f013";
}

.social-steam:before {
  content: "\f014";
}

.social-instagram:before {
  content: "\f015";
}

.social-foursquare:before {
  content: "\f016";
}

.social-delicious:before {
  content: "\f017";
}

.social-chat:before {
  content: "\f018";
}

.social-torso:before {
  content: "\f019";
}

.social-tumblr:before {
  content: "\f01a";
}

.social-video-chat:before {
  content: "\f01b";
}

.social-digg:before {
  content: "\f01c";
}

.social-wordpress:before {
  content: "\f01d";
}

/* font-face */
@font-face {
  font-family: "GeneralEnclosedencloseds";
  src: url("../fonts/general_enclosed_foundicons.eot");
  src: url("../fonts/general_enclosed_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/general_enclosed_foundicons.woff") format("woff"), url("../fonts/general_enclosed_foundicons.ttf") format("truetype"), url("../fonts/general_enclosed_foundicons.svg#GeneralEnclosedfoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global enclosed styles */
[class*="enclosed-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="enclosed-"]:before {
  font-family: "GeneralEnclosedencloseds";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.enclosed-settings:before {
  content: "\f000";
}

.enclosed-heart:before {
  content: "\f001";
}

.enclosed-star:before {
  content: "\f002";
}

.enclosed-plus:before {
  content: "\f003";
}

.enclosed-minus:before {
  content: "\f004";
}

.enclosed-checkmark:before {
  content: "\f005";
}

.enclosed-remove:before {
  content: "\f006";
}

.enclosed-mail:before {
  content: "\f007";
}

.enclosed-calendar:before {
  content: "\f008";
}

.enclosed-page:before {
  content: "\f009";
}

.enclosed-tools:before {
  content: "\f00a";
}

.enclosed-globe:before {
  content: "\f00b";
}

.enclosed-home:before {
  content: "\f00c";
}

.enclosed-quote:before {
  content: "\f00d";
}

.enclosed-people:before {
  content: "\f00e";
}

.enclosed-monitor:before {
  content: "\f00f";
}

.enclosed-laptop:before {
  content: "\f010";
}

.enclosed-phone:before {
  content: "\f011";
}

.enclosed-cloud:before {
  content: "\f012";
}

.enclosed-error:before {
  content: "\f013";
}

.enclosed-right-arrow:before {
  content: "\f014";
}

.enclosed-left-arrow:before {
  content: "\f015";
}

.enclosed-up-arrow:before {
  content: "\f016";
}

.enclosed-down-arrow:before {
  content: "\f017";
}

.enclosed-trash:before {
  content: "\f018";
}

.enclosed-add-doc:before {
  content: "\f019";
}

.enclosed-edit:before {
  content: "\f01a";
}

.enclosed-lock:before {
  content: "\f01b";
}

.enclosed-unlock:before {
  content: "\f01c";
}

.enclosed-refresh:before {
  content: "\f01d";
}

.enclosed-paper-clip:before {
  content: "\f01e";
}

.enclosed-video:before {
  content: "\f01f";
}

.enclosed-photo:before {
  content: "\f020";
}

.enclosed-graph:before {
  content: "\f021";
}

.enclosed-idea:before {
  content: "\f022";
}

.enclosed-mic:before {
  content: "\f023";
}

.enclosed-cart:before {
  content: "\f024";
}

.enclosed-address-book:before {
  content: "\f025";
}

.enclosed-compass:before {
  content: "\f026";
}

.enclosed-flag:before {
  content: "\f027";
}

.enclosed-location:before {
  content: "\f028";
}

.enclosed-clock:before {
  content: "\f029";
}

.enclosed-folder:before {
  content: "\f02a";
}

.enclosed-inbox:before {
  content: "\f02b";
}

.enclosed-website:before {
  content: "\f02c";
}

.enclosed-smiley:before {
  content: "\f02d";
}

.enclosed-search:before {
  content: "\f02e";
}

/* font-face */
@font-face {
  font-family: "Accessibilityaccesss";
  src: url("../fonts/accessibility_foundicons.eot");
  src: url("../fonts/accessibility_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/accessibility_foundicons.woff") format("woff"), url("../fonts/accessibility_foundicons.ttf") format("truetype"), url("../fonts/accessibility_foundicons.svg#Accessibilityfoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global access styles */
[class*="access-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="access-"]:before {
  font-family: "Accessibilityaccesss";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
.access-wheelchair:before {
  content: "\f000";
}

.access-speaker:before {
  content: "\f001";
}

.access-fontsize:before {
  content: "\f002";
}

.access-eject:before {
  content: "\f003";
}

.access-view-mode:before {
  content: "\f004";
}

.access-eyeball:before {
  content: "\f005";
}

.access-asl:before {
  content: "\f006";
}

.access-person:before {
  content: "\f007";
}

.access-question:before {
  content: "\f008";
}

.access-adult:before {
  content: "\f009";
}

.access-child:before {
  content: "\f00a";
}

.access-glasses:before {
  content: "\f00b";
}

.access-cc:before {
  content: "\f00c";
}

.access-blind:before {
  content: "\f00d";
}

.access-braille:before {
  content: "\f00e";
}

.access-iphone-home:before {
  content: "\f00f";
}

.access-w3c:before {
  content: "\f010";
}

.access-css:before {
  content: "\f011";
}

.access-key:before {
  content: "\f012";
}

.access-hearing-impaired:before {
  content: "\f013";
}

.access-male:before {
  content: "\f014";
}

.access-female:before {
  content: "\f015";
}

.access-network:before {
  content: "\f016";
}

.access-guidedog:before {
  content: "\f017";
}

.access-universal-access:before {
  content: "\f018";
}

.access-elevator:before {
  content: "\f019";
}
@font-face {
    font-family: 'LearningCurveDashed';
    src: url('../fonts/LearningCurveDashed_OT-webfont.eot');
    src: url('../fonts/LearningCurveDashed_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LearningCurveDashed_OT-webfont.woff') format('woff'),
         url('../fonts/LearningCurveDashed_OT-webfont.ttf') format('truetype'),
         url('../fonts/LearningCurveDashed_OT-webfont.svg#LearningCurveDashedProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LearningCurve';
    src: url('../fonts/LearningCurve_OT-webfont.eot');
    src: url('../fonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LearningCurve_OT-webfont.woff') format('woff'),
         url('../fonts/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('../fonts/LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Typewriter';
    src: url('../fonts/MonospaceTypewriter-webfont.eot');
    src: url('../fonts/MonospaceTypewriter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonospaceTypewriter-webfont.woff') format('woff'),
         url('../fonts/MonospaceTypewriter-webfont.ttf') format('truetype'),
         url('../fonts/MonospaceTypewriter-webfont.svg#MonospaceTypewriterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CPMono_v07Plain';
    src: url('../fonts/CPMono_v07_Plain-webfont.eot');
    src: url('../fonts/CPMono_v07_Plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CPMono_v07_Plain-webfont.woff') format('woff'),
         url('../fonts/CPMono_v07_Plain-webfont.ttf') format('truetype'),
         url('../fonts/CPMono_v07_Plain-webfont.svg#CPMono_v07Plain') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceCodeProRegular';
    src: url('../fonts/SourceCodePro-Regular-webfont.eot');
    src: url('../fonts/SourceCodePro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceCodePro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceCodePro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AnonymousProRegular';
    src: url('../fonts/Anonymous_Pro-webfont.eot');
    src: url('../fonts/Anonymous_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Anonymous_Pro-webfont.woff') format('woff'),
         url('../fonts/Anonymous_Pro-webfont.ttf') format('truetype'),
         url('../fonts/Anonymous_Pro-webfont.svg#AnonymousProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}